@base: #fff;

body{
  background: @base;
  background-size: 100%;
  background-color: #fff;
}

table {
  margin: 0 auto;
  tr {
      padding: 0px;
      margin: 0px;
    td {
      padding: 0px;
      margin: 0px;
      height: 50px;
      width: 50px;
      border: 1px solid #000;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

.snowball {
  background-color: #B7DDEB;
}

h1 {
  color: #000;
  margin-top: 0px;
  padding-top: 0px;
  text-align: center;
}

.health{
  height: 5px;
}

.potion {
  background-color: #2BE068;
}