@import url(http://fonts.googleapis.com/css?family=Cherry+Swash);
@import url(http://fonts.googleapis.com/css?family=Holtwood+One+SC);

@base: url(../images/candyland.jpg);


body{
  background: @base;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
}

table {
  margin: 0 auto;
  tr {
      padding: 0px;
      margin: 0px;
    td {
      padding: 0px;
      margin: 0px;
      height: 50px;
      width: 50px;
      border: 2px solid #E88728;
      background-color: rgba(255, 204, 44, 0.5);
    }
  }
}

.snowball {
  background-color: #B7DDEB;
}

h1 {
  color: #C72922;
  margin-top: 0px;
  padding-top: 0px;
  text-align: center;
  font-family: 'Cherry Swash', cursive;
  font-size: 100px;
}

#characters{
  width: 150px;
}

#hp-status{
  margin: 15px;
  h3 {
    display: block;
  }
}

.health{
  width: 1px;
  height: 50px;
  background-color: #8CFF88;
  float: left;
}

.potion {
  background-color: #2BE068;
}

.attack {
  background-color: red;
}

.quicksand {
  background-color: brown;
}

span#ko {
  font-family: 'Holtwood One SC', serif;
  color: #FFCC2C;
}

//---------------------------------------------------------------------------//
.santa{
  background: url(/images/santa.png);
  background-size: 100%;
  background-color: #e888728;
}

.leprechaun{
  background: url(/images/leprechaun2.png);
  background-size: 100%;
  background-color: #e888728;
}

.cupid{
  background: url(/images/cupid2.png);
  background-size: 100%;
  background-color: #e888728;
}

.easterbunny{
  background: url(/images/easterbunny1.png);
  background-size: 100%;
  background-color: #e888728;
}

.pumpkin{
  background: url(/images/pumpkin2.jpg);
  background-size: 100%;
  background-color: #e888728;
}

.sam{
  background: url(/images/unclesam2.png);
  background-size: 100%;
  background-color: #e888728;
}
