extends ../template/layout

block content
  .row
    small-12.columns
      h1 Snowball Fight!
  .row
    .small-2.columns
      input#game(type='text', name='game')
    .small-2.columns
      input#player(type='text', name='player')
    .small-2.columns
      input#color(type='text', name='color')
    .small-2.columns
      button#start Start
    .small-4.columns
  .row
    .small-6.columns
      #hp-status
        h3 HP:
    .small-6.columns
      #easter-egg
  .row
    .small-12.columns
      table#board
