extends ../template/layout

block content
  .row
    small-12.columns
      h1 Holiday<span id='ko'>KO</span>
  .row
    .small-2.columns
      select#characters
        option(value='default' selected='selected') Select Character
        option(value='santa') Santa Claus
        option(value='leprechaun') Leprechaun
        option(value='cupid') Cupid
        option(value='easter') Easter Bunny
        option(value='halloween') Jack O Lantern
        option(value='july') Uncle Sam
    .small-2.columns
      input#player(type='text', name='player', placeholder='Username')
    .small-2.columns
      select#worlds
        option(value='default' selected='selected') Select World
        option(value='christmas') Christmas Town
        option(value='stpatty') St Patrick's Pub
        option(value='valentines') Cupid's Love Shack
        option(value='easterland') Easter Land
        option(value='halloweentown') Halloween Town
        option(value='fourthofjuly') Uncle Sam's Lair
    .small-2.columns
      button#start Start
    .small-4.columns
  .row
    .small-7.columns
      #hp-status
        h3 Health:
    .small-5.columns
      #easter-egg
  .row
    .small-12.columns
      table#board
